<header id="head">
    <nav id="contact">
        <a target="new" href="">+1(800)123 1234</a>            
    </nav>
    <a href="" id="login">LOGIN</a>
    <a href="" id="create">CREATE AN ACCOUNT</a>
</header>
<div id="content">
    <div>
        <div id="body">
            <h1>Professional Accounting</h1>
            <h2>& Tax Services</h2>
            <p>Providing every client with the attention they deserve</p>
        </div>
        <h3>Read more</h3>
    </div> 
    <app-formulario></app-formulario>   
</div>
<router-outlet />
